:host {
  margin: 3rem 0;
  display: block;
}

::ng-deep .gpt-chat-room-select {
  max-height: 50vh !important;
}

.heading {
  margin: 0.5em 0;
}

.mat-option {
  border-bottom: 1px solid var(--dialog);

  &:nth-child(even) {
    background-color: var(--surface);
    color: var(--on-surface);
  }

  &:nth-child(odd) {
    background-color: var(--alt-surface);
    color: var(--on-surface);
  }

  &.mat-option-header {
    background-color: var(--primary);
    color: var(--on-primary);
  }
}

.counter-container {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;

  span {
    position: relative;
    display: inline-block;
  }

  span:before,
  span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background-color: var(--on-primary);
  }

  span:before {
    right: 100%;
    margin-right: 15px;
  }

  span:after {
    left: 100%;
    margin-left: 15px;
  }
}

.gpt-gap-text {
  margin: 0.5em !important;
  padding: 0 !important;

  > mat-form-field {
    padding-inline: 1em;
    padding-top: 0.4em;
    background-color: var(--secondary);
    color: var(--on-secondary);
    border-radius: 10px;

    ::ng-deep .mat-select-arrow,
    ::ng-deep .mat-select-value {
      color: currentColor;
    }

    ::ng-deep .mat-form-field-label {
      color: currentColor !important;
    }

    ::ng-deep .mat-form-field-underline {
      background-color: currentColor !important;
    }
  }
}

.gpt-requester {
  display: flex;
  flex-direction: column;

  > div {
    border-radius: 1.15rem;
    line-height: 1.25;
    max-width: 100%;
    padding: 0.5rem 0.875rem;
    position: relative;
    word-wrap: break-word;
    margin: 0.5rem 0;

    &::before,
    &::after {
      bottom: -0.1rem;
      content: "";
      height: 1rem;
      position: absolute;
    }

    &::after {
      background-color: var(--surface);
    }
  }

  > .human {
    align-self: flex-end;
    background-color: var(--primary);
    color: var(--on-primary);

    &a {
      text-decoration: underline;
      color: var(--on-secondary);
    }

    &::before {
      border-bottom-left-radius: 0.8rem 0.7rem;
      border-right: 1rem solid var(--primary);
      right: -0.35rem;
      transform: translate(0, -0.1rem);
    }

    &::after {
      border-bottom-left-radius: 0.5rem;
      right: -40px;
      transform: translate(-30px, -2px);
      width: 10px;
    }
  }

  > .system {
    margin-inline: auto;
    background-color: var(--dialog);
    color: var(--on-dialog);
  }

  > .gpt {
    align-items: flex-start;
    background-color: var(--secondary);
    color: var(--on-secondary);
    margin-left: 3em;

    > .img {
      position: absolute;
      bottom: 0;
      left: -1.45em;
      z-index: 1;
      font-size: 2.5em;
      width: 1.35em;
      height: 1.35em;
      color: var(--on-surface);
    }

    &::before {
      border-bottom-right-radius: 0.8rem 0.7rem;
      border-left: 1rem solid var(--secondary);
      left: -0.35rem;
      transform: translate(0, -0.1rem);
    }

    &::after {
      border-bottom-right-radius: 0.5rem;
      left: 20px;
      transform: translate(-30px, -2px);
      width: 10px;
    }
  }
}

.preset-btn {
  &:focus {
    background-color: var(--primary) !important;
    color: var(--on-primary) !important;
  }

  &:hover {
    background-color: var(--secondary) !important;
    color: var(--on-secondary) !important;
  }
}

.slide-container {
  text-align: center;
  width: min-content;
  margin-left: auto !important;

  &::before {
    display: none;
  }

  > h3 {
    display: inline-block;
  }
}

.preset-btn:focus .submenu-icon {
  background-color: var(--primary) !important;
  color: var(--on-primary) !important;
}

.preset-btn:hover .submenu-icon {
  background-color: var(--secondary) !important;
  color: var(--on-secondary) !important;
}

mat-card {
  background-color: var(--surface);
  color: var(--on-surface);
}

.secondary-btn {
  background-color: transparent;
  color: var(--secondary);
  outline: var(--secondary) solid 3px;
  width: fit-content;
  margin: 1.5em 0.5em;

  &:hover {
    background-color: var(--secondary);
    color: var(--on-secondary);
  }
}

.danger-btn {
  background-color: transparent;
  color: var(--red);
  outline: var(--red) solid 3px;
  width: fit-content;
  margin: 1.5em 0.5em;

  &:hover {
    background-color: var(--red);
    color: var(--white);
  }
}

.mat-chip {
  background-color: var(--primary);
  color: var(--on-primary);
}

.gpt-icon-btn {
  transform: scale(1.5);
  margin-right: 10px;
}

.gpt-paste-icon {
  transform: scale(1.5);
  color: red;
}

.gpt-paste-btn {
  float: right;
}

.start_introduction {
  position: fixed;
  left: 35px;
  bottom: 65px;
  background-color: var(--secondary);
  color: var(--on-secondary);
  transform: scale(1.4);
  transition: all 0.1s ease-in-out;
  z-index: 2;

  &:hover {
    background-color: transparent;
    color: var(--secondary);
    outline: var(--secondary) solid 3px;
  }
}
