<h1 tabindex="0" mat-dialog-title>{{ 'introductions.room-page-title' | translate }} </h1>

<mat-dialog-content tabindex="0">
  <app-introduction-room-page-en *ngIf="languageService.currentLanguage() === 'en'"></app-introduction-room-page-en>
  <app-introduction-room-page-de *ngIf="languageService.currentLanguage() === 'de'"></app-introduction-room-page-de>
  <app-introduction-room-page-fr *ngIf="languageService.currentLanguage() === 'fr'"></app-introduction-room-page-fr>
</mat-dialog-content>

<app-dialog-action-buttons
  confirmButtonLabel="cancel"
  buttonsLabelSection="introductions"
  [confirmButtonClickAction]="onClose.bind(this)">
</app-dialog-action-buttons>
