.secondary-btn {
  background-color: transparent;
  color: var(--secondary);
  outline: var(--secondary) solid 3px;
  margin: 1.5em 0;
  width: 100%;
}

.secondary-btn:hover {
  background-color: var(--secondary);
  color: var(--on-secondary);
}

mat-form-field {
  width: 100%;
}
