<h3>{{ "password-generator.title" | translate }}</h3>

<mat-dialog-content>
  <mat-form-field>
    <mat-label>
      {{ "password-generator.password-length" | translate }}
    </mat-label>
    <input
      matInput
      appAccessibilityEscapedInput
      [formControl]="passwordCount"
      type="number"
      min="12"
      max="64"
      required
      inputmode="numeric" />
    <mat-error *ngIf="passwordCount.hasError('required')">
      {{ "password-generator.err-required" | translate }}
    </mat-error>
    <mat-error *ngIf="passwordCount.hasError('min')">
      {{ "password-generator.err-min" | translate }}
    </mat-error>
    <mat-error *ngIf="passwordCount.hasError('max')">
      {{ "password-generator.err-max" | translate }}
    </mat-error>
  </mat-form-field>
  <button
    mat-button
    class="secondary-btn"
    (click)="generatePassword()">
    {{ "password-generator.regenerate" | translate }}
  </button>
  <mat-form-field>
    <mat-label>
      {{ "password-generator.password-output" | translate }}
    </mat-label>
    <input
      matInput
      appAccessibilityEscapedInput
      [(ngModel)]="password"
      (input)="securityValue.next(password)"
      type="text"
      minlength="12"
      maxlength="64"
      required />
    <mat-hint>{{ currentSecurity$ | async }}</mat-hint>
    <button
      mat-icon-button
      matSuffix
      (click)="copyPassword()"
      [matTooltip]="'password-generator.copy-password' | translate">
      <mat-icon class="material-icons-outlined">content_copy</mat-icon>
    </button>
  </mat-form-field>
</mat-dialog-content>

<app-dialog-action-buttons
  [buttonsLabelSection]="'password-generator'"
  [confirmButtonLabel]="'copy-and-confirm'"
  [confirmButtonClickAction]="onConfirm"
  [cancelButtonClickAction]="onCancel"></app-dialog-action-buttons>
