mat-form-field {
  color: var(--on-surface);
  margin-bottom: 20px !important;
}

.mat-flat-button {
  color: var(--on-primary);
  background-color: var(--primary);
}

button.mat-icon-button {
  font-size: 1.5em !important;
  width: 1em;
  height: 1em;
}

input {
  caret-color: var(--on-surface);
}

.visibility-icon {
  cursor: pointer;
}

.custom-progress-bar ::ng-deep .mat-progress-bar-element::after {
  background-color: var(--line-color, #f00) !important;
}

.secondary-btn {
  background-color: transparent;
  color: var(--secondary);
  outline: var(--secondary) solid 3px;
  margin-bottom: 20px;
  width: 100%;
}

.secondary-btn:hover {
  background-color: var(--secondary);
  color: var(--on-secondary);
}
