<script src="models/rescale.ts"></script>
<div
  fxLayout="column"
  fxFill
  appTheme
  id="outer_main_container">
  <header
    class="header"
    id="header_rescale"
    #headerElement>
    <app-header #header></app-header>
  </header>
  <div id="rescale_screen">
    <div
      class="main_container"
      id="scroll_container"
      #scrollElement
      (scroll)="onScroll()">
      <div class="inner_main_container">
        <main
          fxFlex
          class="app-component">
          <router-outlet></router-outlet>
        </main>
      </div>
    </div>
  </div>
  <footer
    role="contentinfo"
    class="footer"
    id="footer_rescale"
    #footerElement>
    <app-footer></app-footer>
  </footer>
  <div
    class="rescale_overlay"
    id="overlay_rescale"
    aria-hidden="true"
    [ngClass]="{
      'bottom-before':
        deviceInfo.isCurrentlyMobile || router.url.endsWith('/brainstorming'),
      bottom:
        rescaleActive &&
        (deviceInfo.isCurrentlyMobile || router.url.endsWith('/brainstorming')),
      above:
        rescaleActive &&
        (deviceInfo.isCurrentlyDesktop &&
          !router.url.endsWith('/brainstorming'))
    }">
    <button
      mat-icon-button
      (click)="getRescale().toggleState()"
      matTooltip="{{ 'header.zoom-exit' | translate }}">
      <mat-icon>close_fullscreen</mat-icon>
    </button>
    <button
      mat-icon-button
      (click)="getRescale().scaleUp()"
      matTooltip="{{ 'header.zoom-plus' | translate }}">
      <mat-icon>zoom_in</mat-icon>
    </button>
    <button
      mat-icon-button
      (click)="getRescale().scaleDown()"
      matTooltip="{{ 'header.zoom-minus' | translate }}">
      <mat-icon>zoom_out</mat-icon>
    </button>
    <button
      mat-icon-button
      (click)="getRescale().scaleUndo()"
      matTooltip="{{ 'header.zoom-reset' | translate }}">
      <mat-icon>undo</mat-icon>
    </button>
  </div>
</div>
