.app-component {
  padding: 0 5% 45px;
  height: fit-content;
  z-index: 1;
}

main {
  height: 100%;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}

#rescale_screen {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
}

.main_container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: var(--background);
  color: var(--on-background);
}

.inner_main_container {
  width: 100%;
  height: calc(100% - 101px);
  margin-top: 64px;
  margin-bottom: 37px;
  float: left;
}

.header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  transition: all 0.2s ease-in-out;
}

.footer {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 2;
  transition: all 0.2s ease-in-out;
}

.rescale_overlay {
  width: 180px;
  height: 50px;
  background-color: var(--background);
  color: var(--primary);
  outline: var(--primary) solid 2px;
  border-radius: 15px;
  position: fixed;
  z-index: 2;
  transition: inset 1.0s ease-in-out, transform 0.2s ease-in-out;
  left: 15px;
  top: -200px;
  display: none;

  &.above {
    left: 15px;
    top: 70px;
    display: block;
  }

  &.bottom-before {
    left: 50%;
    top: 100%;
    transform: translate(-50%, 100%);
    display: block;
  }

  &.bottom {
    left: 50%;
    top: 80%;
    transform: translate(-50%, -125%);
    display: block;
  }
}

.rescale_overlay > button {
  margin-top: 5px;
}

.rescale_overlay mat-icon {
  color: var(--primary);
  transform: scale(1.5);
  margin-bottom: 2px;

  &:hover {
    background-color: var(--primary);
    color: var(--on-primary);
    border-radius: 15px;
    padding: 3px
  }
}

.rescale_overlay > button:first-child {
  margin-left: 10px;
}
