<div
  style="display: none"
  [joyrideStep]="'greeting'"
  appJoyrideTemplate
  [stepPosition]="'center'"></div>

<div
  data-nosnippet
  class="main-container">
  <div
    class="bg-object"
    style="top: 20%; left: 20%; animation-delay: 0s">
    ?
  </div>

  <div
    class="bg-object"
    style="top: 30%; left: 80%; animation-delay: 2s">
    ?
  </div>

  <div
    fxLayout="row"
    fxLayoutAlign="center">
    <h1>
      <span
        class="main-heading-secondary"
        aria-hidden="true">
        {{ "login.welcome" | translate }}
      </span>
      <span class="main-heading-primary">
        {{ "login.welcome-primary" | translate }}
      </span>
    </h1>
  </div>

  <div fxLayoutAlign="center">
    <mat-card class="outer">
      <mat-card-content>
        <div fxLayoutAlign="center">
          <app-new-landing></app-new-landing>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <img
    tabindex="-1"
    src="/assets/images/Chatbot.webp"
    class="screenshot"
    width="381"
    height="358"
    alt="AI Tutor" />

  <h2>
    <span
      data-nosnippet
      class="feedback">
      <a
        [joyrideStep]="'feedbackLink'"
        appJoyrideTemplate
        [stepPosition]="'top'"
        class="info"
        href="https://frag.jetzt/participant/room/Feedback"
        target="_blank"
        rel="noreferrer noopener"
        aria-labelledby="feedback-aria">
        {{ "login.welcome-feedback" | translate }}
      </a>
    </span>
  </h2>

  <button
    id="live_announcer-button"
    autofocus
    tabIndex="-1"
    (click)="announce()"
    class="visually-hidden">
    {{ "home-page.live-announcer" | translate }}
  </button>

  <app-app-rating
    *ngIf="accumulatedRatings"
    [ratingResults]="accumulatedRatings"></app-app-rating>
</div>

<div class="visually-hidden">
  <div
    id="feedback-aria"
    style="display: none">
    {{ "login.feedback-aria" | translate }}
  </div>
</div>
