<div data-nosnippet>

  <p tabindex="0">
    Tes questions et tes évaluations dans «&nbsp;frag.jetzt&nbsp;» sont anonymes.
  </p>

  <p tabindex="0">
    Sans enregistrement, tu ne peux accéder à tes salles que dans le navigateur,
    dans lequel tu as créé ou visité les salles.
    Si tu supprimes l'historique de ton navigateur, tes salles seront également supprimés.
  </p>

  <p tabindex="0">
    En cliquant sur le bouton «&nbsp;Accepter&nbsp;», tu acceptes notre déclaration de protection des données.
    Tu peux la consulter en cliquant sur l'icône ci-dessus.
  </p>

</div>
