<mat-dialog-content>
  <div
    fxLayout="column"
    class="textfields">
    <!--forgot password-->
    <p class="oldtypo-p">{{ "password-reset.forgot-password" | translate }}</p>
  </div>

  <form
    *ngIf="initProcess"
    (ngSubmit)="resetPassword(email.value)"
    fxLayout="column"
    fxLayoutAlign="space-around"
    fxLayoutGap="10px">
    <mat-form-field class="input-block">
      <input
        appAccessibilityEscapedInput
        aria-labelledby="password-reset-description"
        matInput
        type="email"
        #email
        [formControl]="usernameFormControl"
        [errorStateMatcher]="matcher"
        name="email" />
      <mat-placeholder class="placeholder">
        {{ "password-reset.email" | translate }}
      </mat-placeholder>
      <mat-error
        *ngIf="
          usernameFormControl.hasError('email') &&
          !usernameFormControl.hasError('required')
        ">
        {{ "password-reset.email-invalid" | translate }}
      </mat-error>
    </mat-form-field>
    <button
      (click)="buildCloseDialogActionCallback()"
      mat-flat-button
      type="submit"
      aria-labelledby="password-reset-button">
      {{ "password-reset.reset-password" | translate }}
    </button>
  </form>

  <div
    fxLayout="column"
    class="textfields">
    <!--set new password-->
    <p
      class="oldtypo-p"
      style="padding-top: 15px">
      {{ "password-reset.set-new-password" | translate }}
    </p>
  </div>



  <form
    (ngSubmit)="setNewPassword(email2.value, key.value, password1.value)"
    fxLayout="column"
    fxLayoutAlign="space-around"
    fxLayoutGap="10px">


    <mat-form-field class="input-block">
      <input
        appAccessibilityEscapedInput
        matInput
        type="text"
        #key
        [formControl]="keyFormControl"
        aria-labelledby="password-reset-key"
        [errorStateMatcher]="matcher" />
      <mat-placeholder class="placeholder">
        {{ "password-reset.key" | translate }}
      </mat-placeholder>
      <mat-error *ngIf="keyFormControl.hasError('required')">
        {{ "password-reset.key-required" | translate }}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="input-block">
      <input
        aria-labelledby="password-set-description"
        matInput
        type="email"
        #email2
        [formControl]="usernameFormControl2"
        [errorStateMatcher]="matcher"
        name="email" />
      <mat-placeholder class="placeholder">
        {{ "password-reset.email" | translate }}
      </mat-placeholder>
      <mat-error
        *ngIf="
          usernameFormControl2.hasError('email') &&
          !usernameFormControl2.hasError('required')
        ">
        {{ "password-reset.email-invalid" | translate }}
      </mat-error>
      <mat-error
        *ngIf="usernameFormControl2.hasError('required')">
        {{ "password-reset.email-required" | translate }}
      </mat-error>
    </mat-form-field>
    <button
      mat-button
      class="secondary-btn"
      (click)="openPasswordGenerator($event)">
      <mat-icon class="material-icons-filled">key</mat-icon>
      {{ "register.password-generator" | translate }}
    </button>
    <mat-form-field
      class="input-block"
      style="padding-top: 20px">
      <input
        (input)="userEdit = true"
        appAccessibilityEscapedInput
        matInput
        [type]="isPasswordVisible ? 'text' : 'password'"
        #password1
        [formControl]="passwordFormControl"
        (input)="checkPasswordStrength()"
        aria-labelledby="new-password1"
        [errorStateMatcher]="matcher" />
      <mat-placeholder class="placeholder">
        {{ "register.new-password" | translate }}
      </mat-placeholder>
      <button
        *ngIf="!userEdit"
        (click)="copyPassword()"
        type="button"
        mat-icon-button
        matSuffix
        [matTooltip]="'password-generator.copy-password' | translate">
        <mat-icon class="material-icons-outlined">content_copy</mat-icon>
      </button>
      <button
        (click)="togglePasswordVisibility()"
        type="button"
        mat-icon-button
        class="visibility-icon"
        matSuffix>
        <mat-icon class="material-icons-outlined">
          {{ isPasswordVisible ? "visibility" : "visibility_off" }}
        </mat-icon>
      </button>
      <mat-error *ngIf="passwordFormControl.hasError('required')">
        {{ "register.password-required" | translate }}
      </mat-error>
      <mat-error
        *ngIf="
          !passwordFormControl.hasError('required') &&
          passwordFormControl.hasError('validLength')
        ">
        {{ "register.password-length-invalid" | translate }}
      </mat-error>
      <mat-error
        *ngIf="
          !passwordFormControl.hasError('required') &&
          passwordFormControl.hasError('containsNumber')
        ">
        {{ "register.password-no-number" | translate }}
      </mat-error>
      <mat-error
        *ngIf="
          !passwordFormControl.hasError('required') &&
          passwordFormControl.hasError('containsLowercase')
        ">
        {{ "register.password-no-lowercase" | translate }}
      </mat-error>
      <mat-error
        *ngIf="
          !passwordFormControl.hasError('required') &&
          passwordFormControl.hasError('containsUppercase')
        ">
        {{ "register.password-no-uppercase" | translate }}
      </mat-error>
      <mat-error
        *ngIf="
          !passwordFormControl.hasError('required') &&
          passwordFormControl.hasError('containsSpecialCharacter')
        ">
        {{ "register.password-no-special-character" | translate }}
        <br />
        (!, @, #, $, %, ^, &, *, (, ), _, +, -, =)
      </mat-error>
      <mat-error
        *ngIf="
          !passwordFormControl.hasError('required') &&
          passwordFormControl.hasError('containsEmailElements')
        ">
        {{ "register.password-too-similar" | translate }}
      </mat-error>
    </mat-form-field>

    <div
      fxLayout="row"
      fxLayoutGap="10px"
      style="align-items: flex-end">
      <!--password strength-->
      <mat-progress-bar
        #customProgressBar
        class="custom-progress-bar"
        mode="determinate"
        [value]="passwordStrength"></mat-progress-bar>
      <button
        mat-icon-button
        matSuffix
        type="button"
        [matTooltip]="'register.password-show-all-req' | translate"
        (click)="toggleAllPasswordRequirements()">
        <mat-icon class="material-icons-outlined">password</mat-icon>
      </button>
    </div>

    <!--password requirements-->
    <div
      fxLayout="column"
      fxLayoutAlign="start start"
      *ngIf="isPasswordRequirementsVisible">
      <p class="oldtypo-p">{{ "register.password-req" | translate }}:</p>
      <ul class="oldtypo-p">
        <li>{{ "register.password-length-invalid" | translate }}</li>
        <li>{{ "register.password-no-number" | translate }}</li>
        <li>{{ "register.password-no-lowercase" | translate }}</li>
        <li>{{ "register.password-no-uppercase" | translate }}</li>
        <li>
          {{ "register.password-no-special-character" | translate }}
          <br />
          (!, @, #, $, %, ^, &, *, (, ), _, +, -, =)
        </li>
        <li>{{ "register.password-too-similar" | translate }}</li>
      </ul>
    </div>

    <mat-form-field class="input-block">
      <input
        (input)="userEdit = true"
        appAccessibilityEscapedInput
        matInput
        [type]="isPasswordVisible ? 'text' : 'password'"
        #password2
        [formControl]="passwordFormControl2"
        aria-labelledby="new-password2"
        [errorStateMatcher]="matcher" />
      <mat-placeholder class="placeholder">
        {{ "register.password-verify" | translate }}
      </mat-placeholder>
      <button
        *ngIf="!userEdit"
        (click)="copyPassword()"
        type="button"
        mat-icon-button
        matSuffix
        [matTooltip]="'password-generator.copy-password' | translate">
        <mat-icon class="material-icons-outlined">content_copy</mat-icon>
      </button>
      <button
        (click)="togglePasswordVisibility()"
        type="button"
        mat-icon-button
        class="visibility-icon"
        matSuffix>
        <mat-icon class="material-icons-outlined">
          {{ isPasswordVisible ? "visibility" : "visibility_off" }}
        </mat-icon>
      </button>

      <mat-error *ngIf="passwordFormControl2.hasError('required')">
        {{ "register.password-required" | translate }}
      </mat-error>
      <mat-error
        *ngIf="
          passwordFormControl2.hasError('isEqual') &&
          !passwordFormControl2.hasError('required')
        ">
        {{ "register.password-unmatch" | translate }}
      </mat-error>
    </mat-form-field>

    <button
      mat-flat-button
      type="submit"
      aria-labelledby="password-set-button">
      {{ "password-reset.set-new-password-button" | translate }}
    </button>
  </form>
</mat-dialog-content>

<app-dialog-action-buttons
  buttonsLabelSection="password-reset"
  [cancelButtonClickAction]="
    buildCloseDialogActionCallback()
  "></app-dialog-action-buttons>

<div class="visually-hidden">
  <div id="password-reset-description">
    {{ "password-reset.email-description" | translate }}
  </div>
  <div id="password-reset-button">
    {{ "password-reset.a11y-password_reset_button" | translate }}
  </div>
  <div id="password-set-description">
    {{ "password-reset.a11y-password_set_email" | translate }}
  </div>
  <div id="new-password1">
    {{ "password-reset.a11y-new_password1" | translate }}
  </div>
  <div id="new-password2">
    {{ "password-reset.a11y-new_password2" | translate }}
  </div>
  <div id="password-reset-key">
    {{ "password-reset.a11y-password_reset_key" | translate }}
  </div>
  <div id="password-set-button">
    {{ "password-reset.a11y-password_set_button" | translate }}
  </div>
</div>
