* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#inactiveInfo {
  background-color: var(--surface);
  color: var(--on-surface);
  padding: 0.25em;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 1em;
}

header {
  display: grid;
  grid-template-columns: 1fr auto;

  align-items: center;

  h1.title {
    color: var(--on-dialog) !important;
    font-size: 18px !important;
    font-weight: 400;
  }

  button {
    padding: 0;
  }
}

form {
  display: grid;
  grid-template-rows: auto auto auto;

  width: 100%;
  margin-top: 14px;

  .login-system-container .input-container {
    margin-bottom: 14px;
  }

  .forgot-password-container {
    margin-bottom: 14px;
  }
}

.input-container {
  display: flex;
  position: relative;

  align-items: center;

  background-color: var(--dialog);
  color: var(--on-dialog);

  border: 1px solid #3a3a3a;
  border-radius: 7px;
  transition: all 150ms ease-in-out;

  input {
    margin: 0;
    padding: 14px;
    outline: 0;
    border: 0;

    width: 100%;
    border-radius: 7px;

    background-color: var(--dialog);
    color: var(--on-dialog);
  }

  &.error {
    border: 1px solid var(--cancel);

    label {
      color: var(--cancel);
    }
  }

  label {
    margin: 0 14px;

    background-color: var(--dialog);
    color: var(--on-dialog);
    font-style: italic !important;

    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);

    pointer-events: none;
    transition: all 150ms ease-in-out;
  }

  input:focus ~ label,
  input:valid ~ label {
    top: 0;
    padding: 0 7px;
  }
}

button {
  margin: 0;
  padding: 14px 7px;
  outline: 0;
  border: 0;

  cursor: pointer;
  transition: all 150ms ease-in-out;

  &.button {
    background-color: var(--dialog);
    color: var(--on-dialog);
  }

  &.mat-icon-button {
    padding: 0;
  }

  &.alt-button {
    background-color: var(--dialog);
    color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 7px;

    &:hover {
      background-color: var(--primary);
      color: var(--on-primary);
    }
  }
}

.bottom-container {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}

.anonymous-container {
  button {
    width: 100%;
    background-color: var(--primary);
    color: var(--on-primary);

    &:hover {
      background-color: var(--dialog);
      color: var(--primary);
    }
  }
}

.page-splitter {
  margin: 14px 0;
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;

  span {
    position: relative;
    display: inline-block;
  }

  span:before,
  span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background-color: dimgray;
  }

  span:before {
    right: 100%;
    margin-right: 15px;
  }

  span:after {
    left: 100%;
    margin-left: 15px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  left: -10000px;
}

.close {
  color: var(--cancel);
  padding: 5px;
  border-radius: 17px;

  &:hover {
    outline: var(--cancel) solid 3px;
  }
}
