<mat-card routerLink="/admin/create-motd">
  <h2>{{ "overview.motd" | translate }}</h2>
  <mat-icon class="material-icons-round">campaign</mat-icon>
</mat-card>
<mat-card routerLink="/admin/gpt-config">
  <h2>{{ "overview.gpt" | translate }}</h2>
  <mat-icon class="material-icons-round">tune</mat-icon>
</mat-card>
<mat-card routerLink="/admin/gpt-chat">
  <h2>{{ "overview.gpt-chat" | translate }}</h2>
  <mat-icon class="chatgpt-robot-icon"></mat-icon>
</mat-card>
<mat-card routerLink="/admin/gpt-prompts">
  <h2>{{ "overview.gpt-prompts" | translate }}</h2>
  <mat-icon class="material-icons-outlined">speaker_notes</mat-icon>
</mat-card>
<mat-card routerLink="/admin/mailing">
  <h2>{{ "overview.mailing" | translate }}</h2>
  <mat-icon class="material-icons-outlined">email</mat-icon>
</mat-card>
