.star-container {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  text-align: center;
  width: max-content;
  margin-inline: auto;
}

h3 {
  margin: 0;
}

mat-icon.interactive {
  display: inline-block;
  color: var(--on-dialog);
  opacity: 0.5;
  width: 1em;
  height: 1em;
  font-size: 3em;
  cursor: pointer;
  transition: transform 250ms ease, color 250ms ease;

  &.star_full {
    color: var(--yellow);
    opacity: unset;
  }

  &.star_half {
    color: var(--yellow);
    opacity: unset;
  }

  &:hover {
    transform: scale(1.666666667);
  }

  &.bounce {
    animation: starBounce 300ms ease-in-out;
  }
}

@keyframes starBounce {
  33% {
    transform: scale(2);
  }
  66% {
    transform: scale(1.33333333);
  }
}
