:host {
  margin: 3rem 0;
  display: block;
}

mat-card {
  background-color: var(--surface);
  color: var(--on-surface);
}

mat-list {
  background-color: var(--dialog);
  color: var(--on-dialog);
  border-radius: 5px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);

  * {
    color: var(--on-dialog);
  }
}

.logit-item {
  ::ng-deep > span {
    justify-content: space-between;
  }
}

.stop-item {
  div[matListItemTitle] {
    width: 100%;
  }

  .mat-icon-button {
    font-size: 1em;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    margin-top: -0.2em;
  }
}

.mat-expansion-panel {
  background-color: var(--alt-surface);
  color: var(--on-surface);

  .mat-expansion-panel-header {
    font-size: 1.5em;
    font-weight: bold;
  }

  .mat-action-row {
    border-top-color: var(--on-surface);
  }
}

.time-select {
  display: inline-block;
}

.panel-content-container {
  display: flex;
  flex-direction: column;

  > * {
    margin-bottom: 1.5rem;
  }
}

.panel-sub-item {
  display: flex;
  flex-direction: column;
}

.secondary-btn {
  background-color: transparent;
  color: var(--secondary);
  outline: var(--secondary) solid 3px;
  width: fit-content;
  margin: 1.5em auto;

  &:hover {
    background-color: var(--secondary);
    color: var(--on-secondary);
  }

  &.mat-button-disabled {
    filter: contrast(0);
  }
}

.danger-btn {
  background-color: transparent;
  color: var(--red);
  outline: var(--red) solid 3px;
  width: fit-content;
  margin: 1.5em auto;

  &:hover {
    background-color: var(--red);
    color: var(--white);
  }
}

.flex-text ::ng-deep .mat-form-field-infix {
  display: flex;
}
