<div>
  <mat-toolbar
    class="mat-elevation-z24"
    id="footer-toolbar"
    *ngIf="!router.url.endsWith('/quiz')">
    <ng-container *ngIf="router.url.includes('/room/')">
      <button
        class="focus_button"
        (click)="openDashboard()"
        [joyrideStep]="'dashboard'"
        [stepPosition]="'center'"
        appJoyrideTemplate
        mat-button>
        <span
          class="material-icons-outlined"
          [matTooltip]="'footer.notifications-button' | translate"
          matBadgeSize="small"
          matBadgePosition="above after"
          [matBadge]="change.getList().length || 0"
          [matBadgeHidden]="+change.getList().length < 1">
          <mat-icon>notifications</mat-icon>
        </span>
        <span
          *ngIf="deviceInfo.isCurrentlyDesktop && router.url.endsWith('/home')">
          {{ "Dashboard" | translate }}
        </span>
      </button>
      <span class="fill-remaining-space"></span>
    </ng-container>

    <ng-container
      *ngIf="
        !this.tourSite && (!this.user || this.deviceInfo.isCurrentlyDesktop)
      ">
      <button
        [matTooltip]="'footer.introduction-button' | translate"
        (click)="showDemo()"
        [joyrideStep]="'introduction'"
        [stepPosition]="'center'"
        appJoyrideTemplate
        aria-labelledby="demo-label"
        class="focus_button"
        mat-button>
        <mat-icon class="material-icons-outlined">summarize</mat-icon>
        <span *ngIf="deviceInfo.isCurrentlyDesktop">
          {{ "footer.demo" | translate }}
        </span>
      </button>
      <span class="fill-remaining-space"></span>
    </ng-container>

    <ng-container
      *ngIf="
        this.tourSite &&
        (!this.user?.loginId || this.deviceInfo.isCurrentlyDesktop)
      ">
      <button
        [matTooltip]="'footer.help-button' | translate"
        (click)="showCurrentTour()"
        aria-labelledby="site-tour-label"
        class="focus_button"
        mat-button>
        <mat-icon class="material-icons-outlined">question_mark</mat-icon>
        <span *ngIf="deviceInfo.isCurrentlyDesktop">
          {{ "footer.help" | translate }}
        </span>
      </button>
      <span class="fill-remaining-space"></span>
    </ng-container>

    <ng-container>
      <button
        [matTooltip]="'footer.display-button' | translate"
        [matMenuTriggerFor]="themeMenu"
        aria-labelledby="style-label"
        class="focus_button"
        mat-button>
        <mat-icon>format_color_fill</mat-icon>
        <span *ngIf="deviceInfo.isCurrentlyDesktop">
          {{ "footer.style" | translate }}
        </span>
      </button>
      <span class="fill-remaining-space"></span>
    </ng-container>

    <ng-container>
      <button
        [matTooltip]="'footer.language-button' | translate"
        [matMenuTriggerFor]="langMenu"
        (menuOpened)="openMenu()"
        aria-labelledby="language-label"
        class="focus_button"
        id="language-menu"
        mat-button>
        <mat-icon>language</mat-icon>
        <span *ngIf="deviceInfo.isCurrentlyDesktop">
          {{ "footer.language" | translate }}
        </span>
      </button>
      <span class="fill-remaining-space"></span>
    </ng-container>

    <ng-container *ngIf="deviceInfo.isCurrentlyDesktop">
      <button
        [matTooltip]="'footer.gdpr-button' | translate"
        (click)="showDataProtection()"
        aria-labelledby="data-protection-label"
        class="focus_button"
        mat-button>
        <mat-icon class="material-icons-outlined">security</mat-icon>
        <span>
          {{ "footer.dsgvo" | translate }}
        </span>
      </button>
      <span class="fill-remaining-space"></span>
    </ng-container>

    <ng-container *ngIf="deviceInfo.isCurrentlyDesktop">
      <button
        [matTooltip]="'footer.imprint-button' | translate"
        (click)="showImprint()"
        aria-labelledby="imprint-label"
        class="focus_button"
        mat-button>
        <mat-icon class="material-icons-outlined">privacy_tip</mat-icon>
        <span>
          {{ "footer.imprint" | translate }}
        </span>
      </button>
    </ng-container>

    <ng-container *ngIf="!deviceInfo.isCurrentlyDesktop">
      <button
        [matTooltip]="'footer.options-button' | translate"
        class="focus_button"
        [matMenuTriggerFor]="menu"
        mat-button>
        <mat-icon class="material-icons-outlined">more_vert</mat-icon>
      </button>
    </ng-container>
  </mat-toolbar>
</div>

<div class="visually-hidden">
  <div id="help-label">
    {{ "footer.accessibility-help" | translate }}
  </div>
  <div id="demo-label">
    {{ "footer.accessibility-demo" | translate }}
  </div>
  <div id="site-tour-label">
    {{ "footer.accessibility-site-tour" | translate }}
  </div>
  <div id="style-label">
    {{ "footer.accessibility-style" | translate }}
  </div>
  <div id="language-label">
    {{ "footer.accessibility-language" | translate }}
  </div>
  <div id="data-protection-label">
    {{ "footer.accessibility-data_protection" | translate }}
  </div>
  <div id="imprint-label">
    {{ "footer.accessibility-imprint" | translate }}
  </div>
  <div id="style-default-label">{{ "footer.style-default" | translate }}</div>
  <div id="style-dark-label">{{ "footer.style-dark" | translate }}</div>
  <div id="style-purple-label">{{ "footer.style-purple" | translate }}</div>
  <div id="style-blue-label">{{ "footer.style-blue" | translate }}</div>
</div>

<mat-menu
  #langMenu="matMenu"
  [overlapTrigger]="false">
  <button
    (click)="useLanguage('de')"
    class="focus_item"
    mat-menu-item>
    {{ "footer.german" | translate }}
  </button>
  <button
    (click)="useLanguage('en')"
    class="focus_item"
    mat-menu-item>
    {{ "footer.english" | translate }}
  </button>
  <button
    (click)="useLanguage('fr')"
    class="focus_item"
    mat-menu-item>
    {{ "footer.french" | translate }}
  </button>
</mat-menu>

<mat-menu #menu="matMenu">
  <button
    mat-menu-item
    (click)="showCurrentTour()"
    *ngIf="this.tourSite && this.user?.loginId"
    aria-labelledby="site-tour-label"
    class="focus_button">
    <mat-icon class="material-icons-outlined">question_mark</mat-icon>
    <span>{{ "footer.demo" | translate }}</span>
  </button>
  <button
    mat-menu-item
    (click)="showDemo()"
    *ngIf="!this.tourSite && this.user"
    aria-labelledby="demo-label"
    class="focus_button">
    <mat-icon class="material-icons-outlined">info</mat-icon>
    <span>{{ "footer.demo" | translate }}</span>
  </button>
  <button
    mat-menu-item
    (click)="showDataProtection()">
    <mat-icon class="material-icons-outlined">security</mat-icon>
    <span>{{ "footer.dsgvo" | translate }}</span>
  </button>
  <button
    mat-menu-item
    (click)="showImprint()">
    <mat-icon class="material-icons-outlined">privacy_tip</mat-icon>
    <span>{{ "footer.imprint" | translate }}</span>
  </button>
</mat-menu>

<mat-menu
  #themeMenu="matMenu"
  [overlapTrigger]="false"
  cdkTrapFocus
  class="color-menu">
  <button
    (click)="changeTheme(theme)"
    *ngFor="let theme of themes"
    mat-menu-item
    style="height: 50px">
    <div class="btnContent">
      <div
        [ngStyle]="{ 'background-color': theme.getPreviewColor() }"
        class="btnColorIcon">
        <div
          [ngClass]="{
            checked_true: theme.key === themeService.activeTheme.key,
            checked_false: theme.key !== themeService.activeTheme.key
          }"
          class="checked">
          <mat-icon
            class="theme-icon"
            [ngStyle]="{ color: theme.getOnPreviewColor() }">
            {{ theme.icon }}
          </mat-icon>
          <mat-icon
            class="theme-icon-checked"
            [ngStyle]="{ color: theme.getOnPreviewColor() }">
            checked
          </mat-icon>
        </div>
      </div>
      <div class="btnAppend">
        <div class="title">
          <p class="title_bold">
            {{ theme.getName(langService.currentLanguage()) }}
          </p>
        </div>
      </div>
    </div>
  </button>
</mat-menu>
